<div class="container footer">
	<hr />
	<ul>
		<li><a href="http://www.digitalgov.gov/about/policies/">Terms of Use</a></li>
		<li><a href="http://project-open-data.github.io/">Project Open Data</a></li>
	</ul>
	<div class="logos">
		<a href="http://www.digitalgov.gov/">
			<img src="{{ site.baseurl}}/images/digitalgovlogo.png" width="200" height="31" alt="Digital Gov" />
		</a>
		<a href="http://www.gsa.gov">
			<img src="{{ site.baseurl}}/images/gsa.png" width="44" height="45" alt="General Services Administration" />
		</a>
	</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</body>
</html>