{% include header.html %}
{% include navbar.html %}
<div class="container">
	{% assign modeltitle = page.model-name | capitalize %}
	{% assign modelschema = site.data[page.model-name] %}
	<h1>{{ page.title }}</h1>
	<p>
	{{ page.description }}
	</p>
	
	{% if page.webinar-youtube-id != nil %}
	<h2>Related Webinars</h2>
	<p>
	{{ page.webinar-description }} <br /><br />
	<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.webinar-youtube-id }}" frameborder="0" allowfullscreen></iframe>
	</p>
	{% endif %}
	
	<h2>{{ modeltitle }} Content Model Overview</h2>

	<ul>
		{% for element in modelschema %}
			{% include modeloverview.html param=element %}
		{% endfor %}
	</ul>

	<h2 id="{{ modeltitle }}">{{ modeltitle }} Element Field Defintions</h2>
	<table class="table">
		<tr>
			<th class="fldname">Field Name</th>
			<th class="flddescription">Description</th>
			<th class="fldrequired">Required</th>
			<th class="fldmultiple">Allow Multiple</th>
		</tr>
		{% for element in modelschema %}
		<tr>
			<td>
				{% if element.subelements != nil %}
					<a href="#{{ element.name }}">{{ element.name }}</a>
				{% else %}
					{{ element.name }}
				{% endif %}
			</td>
			<td>{{ element.description }}</td>
			<td>{{ element.required }}</td>
			<td>{{ element.multipleallowed }}</td>
		</tr>
		{% endfor %}
	</table>

	<h2>Subelement Field Definitions</h2>
	{% include subfields.html param=modelschema %}
</div>
{% include footer.html %}